html {
  background-color: rgb(226, 226, 243);
}

/* body > table:nth-child(12) > tbody > tr:nth-child(1) > td.progressBox.med */
td.progressBox {
  width: 20px;
  height: 20px;
  border: .03rem solid black;
}


.pale {
  background-color: rgb(181, 231, 214);
}

.med {
  background-color: rgb(120, 193, 169);
}


.dark {
  background-color: rgb(78, 140, 120);
}


.empty {
  background-color: transparent;
}