/* html {
  background-color: rgb(226, 226, 243);
} */

/* body > table:nth-child(12) > tbody > tr:nth-child(1) > td.progressBox.med */

td.progressBox {
  width: 10px;
  height: 10px;
  border: .03rem solid black;
}


.pale {
  background-color: rgb(181, 231, 214);
}

.med {
  background-color: rgb(120, 193, 169);
}


.dark {
  background-color: rgb(78, 140, 120);
}


.empty {
  background-color: transparent;
}

body > table:nth-child(14) {
  border-collapse: separate;
  border-spacing: 10px 10px;
}

td.bar {
  background-color: transparent;
  width: 20px;
  /* padding: 1px; */
  -webkit-box-shadow: 0px 0px 3px -1px #000000; 
  box-shadow: 0px 0px 3px -1px #000000;
  /* padding: 10px; */
}